* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: hsl(212, 90%, 8%);
    --secondary: hsl(226, 69%, 59%);
    --accent: hsla(160, 60%, 50%, 0.878);
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: var(--primary);
    color: white;
  }

  .header, h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }

  h2 {
    padding-bottom: 10px;
  }

  label {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
  }
  
  form {
    max-width: 800px;
    padding-top: 15px;
    margin: 0 auto;
  }

  input, select {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
  }

  button {
    display: block;
    width: 20%;
    padding: 15px;
    margin-bottom: 15px;
    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  #userTable {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    text-align: center;
    margin-top: 10px;
    border-bottom: 2px solid #ffffffd5;
    margin: 0 auto;
  }

  #userTable thead th {
    background-color: var(--secondary);
    margin: 0 auto;
    padding: 10px;
  }

 /* Example CSS styles for the delete button */
.delete-button {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    width: fit-content;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #cc0000;
  }
  
  
